body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar a, .content a {
    text-decoration: none;
    color: black;
}

.active {
    font-weight: bold;
}

.email-icon {
    font-size: 24px;
    align-self: flex-start;
}

.gallery {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.gallery img {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding: 20px;
}

.content {
    display: flex;
    margin-top: 20px;
}

.left {
    width: 200px;
}

.right {
    flex-grow: 1;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar, .left {
        width: 100%;
    }

    .content {
        flex-direction: column;
    }
}
